div.container {
    width: 50%;
    margin-left: 30%;
    margin-top: 15%;
}

div.contador, div.div-boton {
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 25%;
}



#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid darkslategray;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: darkslategray;}
  
  #customers tr:hover {background-color: darkslategray;}
  
  #customers th, td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:darkslategray;
    color: white;
  }
